<html ng-app="app">
    <head>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/interactjs/dist/interact.min.js"></script>
        <link rel="stylesheet" href="src/styles.css">
    </head>
    <body ng-cloak>
        <div id="container" ng-controller="appController as vm">
            <h1 id="header">Eisenhow</h1>
            <div id="quad-container">
                <div id="top-row">
                        <div class="quadrant dropzone" id="quadOne">
                            <h3>I</h3>
                            <ul>
                                <li ng-repeat="t1 in vm.tasks_p1">
                                        <b>{{t1.name}}</b><br>
                                        <span>P{{t1.priority}}</span>
                                        <button ng-click="vm.incrementPriority(t1)">+</button>
                                        <button ng-click="vm.decrementPriority(t1)">-</button>
                                </li>
                            </ul>   
                        </div>
                        <div class="quadrant dropzone" id="quadTwo">
                            <h3>II</h3>
                            <ul>
                                <li ng-repeat="t2 in vm.tasks_p2">
                                                                            <b>{{t2.name}}</b><br>
                                        <span>P{{t2.priority}}</span>
                                        <button ng-click="vm.incrementPriority(t2)">+</button>
                                        <button ng-click="vm.decrementPriority(t2)">-</button>
                                </li>
                            </ul>   
                        </div>
                    </div>

                <div id="bottom-row">
                    <div class="quadrant dropzone" id="quadThree">
                        <h3>III</h3>
                        <ul>
                            <li ng-repeat="t3 in vm.tasks_p3">
                                                                        <b>{{t3.name}}</b><br>
                                        <span>P{{t3.priority}}</span>
                                        <button ng-click="vm.incrementPriority(t3)">+</button>
                                        <button ng-click="vm.decrementPriority(t3)">-</button>
                            </li>
                        </ul>   
                    </div>
                    <div class="quadrant dropzone" id="quadFour">
                        <h3>IV</h3>
                        <ul>
                            <li ng-repeat="t4 in vm.tasks_p4">
                                                                        <b>{{t4.name}}</b><br>
                                        <span>P{{t4.priority}}</span>
                                        <button ng-click="vm.incrementPriority(t4)">+</button>
                                        <button ng-click="vm.decrementPriority(t4)">-</button>
                            </li>
                        </ul>   
                </div>
            </div>
            </div>
            <div>

            </div>
            

            <div id="taskList">
                <input type="text" ng-model="vm.newTask">
                <button ng-click="vm.addTask(vm.newTask)">Add Task</button> 
                <ul class="task_list_class">
                    <li class="draggable drag-drop" id="task" ng-repeat="task in vm.taskList">
                        <b>{{task.name}}</b><br>
                        <span>P{{task.priority}}</span>
                        <button ng-click="vm.incrementPriority(task)">+</button>
                        <button ng-click="vm.decrementPriority(task)">-</button>
                    </li>
                </ul>   
            </div>            
        </div>
        
    </body>
    <script src="src/app.js"></script>
</html>
